<div class="col-lg-8 panel panel-default">
    <h1 class="h1-strong">{{ title }}</h1>
    <div id="data-profile" *ngIf="user">
        <div class="avatar pull-left">
            <img src="{{ url + 'get-avatar/' + user.image }}" *ngIf="user.image" />
            <img src="assets/user-default.png" *ngIf="!user.image" />
        </div>

        <div class="user-name pull-left">
            <div class="label label-default pull-left" *ngIf="followed">
                Te sigue
            </div>
            <div class="clear-fix"></div>
            <div class="pull-left">
                <p class="name">{{ user.name + ' ' + user.surname }}</p>
                <p class="nick">{{ user.nick }}</p>
            </div>
            <div class="clear-fix"></div>
            <div class="follow pull-left">
                <button class="btn btn-success" *ngIf="!following" (click)="followUser(user._id)">
                    Seguir
                </button>
                <button class="btn btn-primary" *ngIf="following" (click)="unfollowUser(user._id)" (mouseenter)="mouseEnter(user._id)" (mouseleave)="mouseLeave()"
                    [class.btn-danger]="user._id == followUserOver">
                    <span *ngIf="user._id == followUserOver; else following">Dejar de seguir</span>
                    <ng-template #following>Siguiendo</ng-template>
                </button>
            </div>
        </div>
        <ul class="stats pull-left" *ngIf="stats">
            <li class="following-data pull-left">
                <a [routerLink]="['/siguiendo', user._id, 1]">
                    <span class="label-stats">
                        Siguiendo
                    </span>
                    <span class="number-stats">
                        {{ stats.following }}
                    </span>
                </a>
            </li>
            <li class="following-data pull-left">
                <a [routerLink]="['/seguidores', user._id, 1]">
                    <span class="label-stats">
                        Seguidores
                    </span>
                    <span class="number-stats">
                        {{ stats.followed }}
                    </span>
                </a>
            </li>
            <li class="following-data pull-left">
                <a href="#">
                    <span class="label-stats">
                        Publicaciones
                    </span>
                    <span class="number-stats">
                        {{ stats.publications }}
                    </span>
                </a>
            </li>
        </ul>
        <div class="col-lg-12 publications" *ngIf="user">
            <!-- Usando la propiedad @Input user que esta en publications podemos enviar un valor desde esta vista asi: -->
            <publications [user]="user._id"></publications>
        </div>
    </div>
</div>
<sidebar></sidebar>