 <!-- Activar una imagen de loader mientras carga la peticion ajax -->
<div class="loading" *ngIf="loading">
    <img src="assets/loader.gif">
</div>
<div class="col-lg-8 panel panel-default">
    <h1 class="h1-strong">{{ title }}
        <button class="btn btn-info btn-sm glyphicon glyphicon-refresh" (click)="refresh($event)"></button>
    </h1>
    <div id="publications" *ngIf="publications">
        <div *ngFor="let publication of publications" class="item-publication">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="info-box col-lg-12">
                        <div class="image-user pull-left">
                            <a href="#">
                                <img src="{{ url + 'get-avatar/' + publication.user.image }}" *ngIf="publication.user.image" />
                                <img src="assets/user-default.png" *ngIf="!publication.user.image" />
                            </a>
                        </div>
                        <div>
                            <a [routerLink]="['/perfil', publication.user._id]" class="user-name">
                                {{ publication.user.name + ' ' + publication.user.surname }}
                            </a>
                            &nbsp;·&nbsp;
                            <span class="date">
                                <!-- amFromUnix transforma una fecha timestamp a un formato DATE -->
                                <!-- amLocale:'es' sirve para traducir el mensaje a español -->
                                {{ (publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo }}
                                <!-- amTimeAgo sirve para saber desde hace cuanto se publico (modulo moment de angular) -->
                            </span>
                        </div>
                        <h4 class="publication-text pull-left">
                            {{ publication.text }}
                        </h4>

                        <div class="pull-right" *ngIf="publication.user._id == identity._id">
                            <a href="#myModal{{ publication._id }}" role="button" class="btn btn-large btn-danger" data-toggle="modal">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                            <div id="myModal{{ publication._id }}" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">¿Seguro que quiere eliminar la publicación?</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Si la borras no podrás recuperarla.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-primary" (click)="deletePublication(publication._id)" data-dismiss="modal">Borrar publicación</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-12 publication-img" *ngIf="publication.file != 'null'">
                        <img class="" src="{{ url + 'get-image-pub/' + publication.file }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center" *ngIf="publications && publications.length">
        <p>
            <button class="btn btn-default" (click)="viewMore()" *ngIf="!noMore">
                Ver más
            </button>
        </p>
    </div>
</div>

<!-- Aca en el elemento padre se pasa el evento que creamos, el cual usaremos en el componente-->
<sidebar (sended)="refresh($event)"></sidebar>

<div class="clearfix"></div>