<div class="col-lg-8 panel panel-default">
    <h1 class="h1-strong" *ngIf="user">{{ title }} {{ user.name }}</h1>
    <div class="people" *ngIf="following">
        <!-- LISTADO -->
        <div *ngFor="let follow of following" class="item-user">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="image-user pull-left">
                        <a href="#">
                            <img src="{{ url + 'get-avatar/' + follow.followed.image }}" *ngIf="follow.followed.image" />
                            <img src="assets/user-default.png" *ngIf="!follow.followed.image" />
                        </a>
                    </div>
                    <div class="user-name pull-left">
                        <p class="name-surname">
                            <a [routerLink]="['/perfil', follow.followed._id]">
                                {{ follow.followed.name +' '+ follow.followed.surname }}
                            </a>
                        </p>
                        <p class="nickname">{{ follow.followed.nick }}</p>
                    </div>
                    <!-- SEGUIR/DEJAR DE SEGUIR -->

                    <div class="pull-right" *ngIf="follow.followed._id != identity._id">
                        <button class="btn btn-success" *ngIf="follows.indexOf(follow.followed._id) < 0" (click)="followUser(follow.followed._id)">Seguir</button>
                        <button class="btn btn-warning" *ngIf="follows.indexOf(follow.followed._id) >= 0" (mouseenter)="mouseEnter(follow.followed._id)" (mouseleave)="mouseLeave(follow.followed._id)"
                            (click)="unfollowUser(follow.followed._id)" [class.btn-danger]="follow.followed._id == followUserOver">
                            <span *ngIf="follow.followed._id == followUserOver; else following">
                                Deja de seguir
                            </span>
                            <ng-template #following>
                                Siguiendo
                            </ng-template>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGINACION -->
        <ul class="pagination pull-rigth">
            <li *ngIf="page > 1">
                <a [routerLink]="['/siguiendo', userPageId, prev_page]">Anterior</a>
            </li>
            <li *ngIf="pages != page">
                <a [routerLink]="['/siguiendo', userPageId, next_page]">Siguiente</a>
            </li>
        </ul>
    </div>
</div>
<sidebar></sidebar>
<div class="clearfix"></div>