<div class="col-lg-8 col-lg-offset-2">
    <div class="jumbotron">
        <h1> {{ title }}</h1>
        <p>Disfruta de las publicaciones de tus amigos y comparte lo que quieras.</p>
        <div class="btn-group">
            <a href="#" class="btn btn-primary btn-lg" role="button">
                Mi perfil
            </a>
            <a href="#" class="btn btn-warning btn-lg" role="button">
                Timeline
            </a>
            <a href="#" class="btn btn-info btn-lg" role="button">
                Gente
            </a>
        </div>
    </div>
</div>