/* GENERALES */
.h1-strong {
    font-size: 35px;
    font-weight: bold;
    margin-left: 13px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.pointer{
    cursor: pointer;
}

/* CABECERA */
.active{
    background: #EABF2A;
}

.navigation {
    padding: 0px !important;
}

.navigation .navbar {
    border-radius: 0px !important;
    background: #FACC2E !important;
    border: none;
}

.navigation .navbar *{
    color: black !important;
}

.navigation .navbar a:hover{
    background: #EABF2A !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
    background: #EABF2A !important;
}

.navigation .navbar .dropdown-menu a:hover{
    background: #eee !important;
}

.navigation .avatar{
    width: 35px;
    height: 35px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 9px;
    margin-right: 2px; 
}

.navigation .avatar img{
    height: auto;
    width: 35px;
}

.jumbotron{
    padding: 25px;
    border-radius: 5px;
    text-align: center;
}

/* GENTE */

#people{
    min-height: 500px;
}

.item-user .image-user,
.item-publication .image-user{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;    
}

.item-user .image-user img,
.item-publication .image-user img{
    width: 100%;  
}

.item-user .user-name,
.item-publication .user-name {
    margin-top: 10px;
}

.item-user .user-name .nickname{
    color: #969393;
}

.item-user .user-name .name-surname a{
    color: #555;
    font-weight: bold;
}

/* SIDEBAR */
#user-card, #new-publication{
    padding: 25px;
    width: 32%;
    margin-left: 10px;
}

#new-publication{
    padding: 18px;
    padding-left: 8px;
}

#user-card .avatar{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;    
}

#user-card .avatar img{
    width: 100%;   
}

#user-card .name-surname {
    font-weight: 300;
    font-size: 17px;
}

#user-card .name-surname a{
    color: #555;
}

#user-card .name-surname .nickname{
    color: #969393;
}

#user-card .stats{
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

#user-card .stats a{
    text-decoration: none;
}

#user-card .stats a:hover .label-stats{
    color: #e1b724;
}

#user-card .label-stats,
#user-card .number-stats{
    display: block;
    text-align: center;
    transition:all 300ms;
}

#user-card .label-stats{
    font-weight: bold;
    color: #555;
}

#user-card .number-stats{
    font-weight: bold;
    font-size: 18px;
    color: #e1b724;
}

#user-card .following-data {
    float: left;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 10px;
    border-right: 2px solid #ddd;
}
/* :last-child sirve para asignarle estilos al primer hijo, en este caso le quitamos padding al primer elemento*/
#user-card .following-data:first-child {
    padding-left: 6px;
}
/* :last-child sirve para asignarle estilos al ultimo hijo, en este caso al ultimo borde*/
#user-card .following-data:last-child {
    border: none;
}

/* TIMELINE */

#publications {
    min-height: 500px;
}

#publications .date{
    color: gray;
}

#publications .item-publication .user-name{
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

#publications .publication-img{
    height: 300px;
    width: 80%;
}
#publications .publication-img img{
    width: 100%;
    height: 100%;
    margin-left: 90px;
    object-fit: contain;
}

/* PERFIL */

#data-profile{
    min-height: 500px;
    text-align: left;
}

#data-profile .avatar{
    width: 185px;
    height: 185px;
    border-radius: 400px;
    overflow: hidden;
    margin-right: 15px; 
}
#data-profile .avatar img{
    width: 100%; 
}

#data-profile .user-name{
    margin-top: 15px;
}

#data-profile .user-name .label {
    margin-bottom: 15px;
}

#data-profile .user-name .name {
    font-size: 22px;
    font-weight: bold;
    color: #555;
    margin-bottom: 0px;
}

#data-profile .user-name .nick {
    font-size: 24px;
    font-weight: normal;
    color: gray;
}

#data-profile .stats{
    border-left: 4px solid #ccc;
    margin-left: 35px;
    padding-left: 25px;
    height: 180px;
    width: 38%;
}

#data-profile .stats a{
    font-size: 12px;
    font-weight: bold;
    line-height: 35px;
    text-decoration: none;
    color: #555;
}

#data-profile .label-stats{
    display: block;
    height: 18px;
}
#data-profile .number-stats{
    font-size: 18px;
}

#data-profile .stats li{
    list-style-type: none;
    margin-right: 20px;
    text-align: center;
    padding: 2px;
}

#data-profile .publications{
    margin-top: 40px;
}
/* LOADING */

.loading{
    margin : 25px;
}