<div class="col-lg-5">
    <h1 class="h1-strong"> {{ title }}</h1>
    <div class="alert alert-success" *ngIf="status == 'success'">
        Registro completado correctamente. <a [routerLink]="['/login']">Identificate Aquí.</a>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        El registro no ha podido completarse, quizas tu email o nickname ya esta en uso, intentalo de nuevo con otros datos.
    </div>
    <!-- El #registerForm es una variable que se puede usar en un metodo (en este caso la estamos usan en el onSubmit para limpiar el formulario) -->
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-12">
        <p>
            <label>Nombre</label>
            <!-- El [(ngModel)] sirve para poder establecer un valor a una propiedad, en este caso le damos valor a name-->
            <!-- El #name es el que tenemos en el modelo de angular -->
            <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
            <span *ngIf="!name.valid && name.touched">
                El nombre es obligatorio.
            </span>
        </p>
        <p>
            <label>Apellidos</label>
            <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required />
            <span *ngIf="!surname.valid && surname.touched">
                Los Apellido son obligatorios.
            </span>
        </p>
        <p>
            <label>Apodo</label>
            <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required />
            <span *ngIf="!nick.valid && nick.touched">
                El apodo es obligatorio.
            </span>
        </p>
        <p>
            <label>Correo electronico</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
            <span *ngIf="!email.valid && email.touched">
                El correo no es valido.
            </span>
        </p>
        <p>
            <label>Contraseña</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
            <span *ngIf="!password.valid && password.touched">
                La contraseña es obligatoria.
            </span>
        </p>
        <!-- Aqui le pasamos la propiedad [disabled] mientras que el formulario no sea valido, osea hasta que no se llenen todos los campos requeridos -->
        <input type="submit" value="{{ title }}" class="btn btn-success" [disabled]="!registerForm.form.valid"/>
    </form>
</div>
