<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">{{ title }}</a>
      </div>
      <ul class="nav navbar-nav" *ngIf="identity">
        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-home"></span>
            Inicio
          </a>
        </li>
        <li>
          <a [routerLink]="['/timeline']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-th-list"></span>
            TimeLine
          </a>
        </li>
        <li>
          <a [routerLink]="['/gente']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-user"></span>
            Gente
          </a>
        </li>
        <li>
          <a [routerLink]="['/mensajes']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-envelope"></span>
            Mensajes
          </a>
        </li>
      </ul>
      <ul class="nav navbar navbar-nav navbar-right" *ngIf="!identity">
        <li>
          <a [routerLink]="['/login']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-log-in"></span>
            Login
          </a>
        </li>
        <li>
          <a [routerLink]="['/registro']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-user"></span>
            Registro
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="identity">
        <li class="avatar">
          <img src="{{ url + 'get-avatar/' + identity.image}}">
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ identity.name }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['/perfil', identity._id]">
                <span class="glyphicon glyphicon-user"></span> Mi perfil</a>
            </li>
            <li>
              <a [routerLink]="['/mis-datos']">
                <span class="glyphicon glyphicon-cog"></span> Mis datos</a>
            </li>
            <li>
              <a href="#" class="pointer" (click)="logout()">
                <span class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!-- Componente donde se cargaran todas nuestras vistas-->
<router-outlet></router-outlet>