<div class="col-lg-8 panel panel-default">
    <h1 class="h1-strong">{{ title }}</h1>
    <div class="people">
        <!-- LISTADO -->
        <!-- Cada que itere en users se creara una variable user -->
        <div *ngFor="let user of users" class="item-user">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="image-user pull-left">
                        <a href="#">
                            <img src="{{ url + 'get-avatar/' + user.image }}" *ngIf="user.image" />
                            <img src="assets/user-default.png" *ngIf="!user.image" />
                        </a>
                    </div>
                    <div class="user-name pull-left">
                        <p class="name-surname">
                            <a [routerLink]="['/perfil', user._id]">
                                {{ user.name +' '+ user.surname }}
                            </a>
                        </p>
                        <p class="nickname">{{ user.nick }}</p>
                    </div>
                    <!-- SEGUIR/DEJAR DE SEGUIR -->

                    <div class="pull-right" *ngIf="user._id != identity._id">
                        <!-- indexOf permite buscar en un array, en este caso si no encuentra coincidencias muestra el boton o sea < 0 -->
                        <button class="btn btn-success" *ngIf="follows.indexOf(user._id) < 0" (click)="followUser(user._id)">Seguir</button>
                        <!-- En este caso si encuentra coincidencias muestra el boton o sea >= 0 -->
                        <!-- La funcion mouseEnter lo que hara sera tomar el id del usuario del cual estamos pasando
                             el mouse por encima y pasar ese id como parametro para luego mirar si lo seguimos o no,
                            la funcion mouseLeave lo que hace es establecer el valor de followUserOver a 0 para cuando quitemos el mouse de encima 
                            pasamos [class.btn-danger] para cuando coincidan los ids y cambie el color del boton -->
                        <button class="btn btn-warning" *ngIf="follows.indexOf(user._id) >= 0" (mouseenter)="mouseEnter(user._id)" (mouseleave)="mouseLeave(user._id)"
                            (click)="unfollowUser(user._id)" [class.btn-danger]="user._id == followUserOver">
                            <!-- Aqui comparamos el id del usuario con el id del usuario que estamos pasando por encima 
                                del boton con el mouse, hacemos un else following que lo que hara es mostrar
                                otro valor al boton en caso de que esto no se cumpla -->
                            <span *ngIf="user._id == followUserOver; else following">
                                Deja de seguir
                            </span>
                            <!-- hacemos un ng-template y en ella pasamos la propiedad #following que establecimos arriba en el anterior span-->
                            <ng-template #following>
                                Siguiendo
                            </ng-template>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGINACION -->
        <ul class="pagination pull-rigth">
            <li *ngIf="page > 1">
                <a [routerLink]="['/gente', prev_page]">Anterior</a>
            </li>
            <li *ngIf="pages != page">
                <a [routerLink]="['/gente', next_page]">Siguiente</a>
            </li>
        </ul>
    </div>
</div>
<sidebar></sidebar>
<div class="clearfix"></div>