<div id="publications">
    <div *ngFor="let publication of publications" class="item-publication">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="image-user pull-left">
                    <a href="#">
                        <img src="{{ url + 'get-avatar/' + publication.user.image }}" *ngIf="publication.user.image" />
                        <img src="assets/user-default.png" *ngIf="!publication.user.image" />
                    </a>
                </div>
                <div>
                    <span class="user-name">
                        {{ publication.user.name + ' ' + publication.user.surname }}
                    </span>
                    &nbsp;·&nbsp;
                    <span class="date">
                        <!-- amFromUnix transforma una fecha timestamp a un formato DATE -->
                        <!-- amLocale:'es' sirve para traducir el mensaje a español -->
                        {{ (publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo }}
                        <!-- amTimeAgo sirve para saber desde hace cuanto se publico (modulo moment de angular) -->
                    </span>
                </div>
                <h4 class="publication-text pull-left">
                    {{ publication.text }}
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 text-center" *ngIf="publications && publications.length">
    <p>
        <button class="btn btn-default" (click)="viewMore()" *ngIf="!noMore">
            Ver más
        </button>
    </p>
</div>