<div class="col-lg-5">
    <h1 class="h1-strong"> {{ title }}</h1>
    <div class="alert alert-success" *ngIf="status == 'success'">
        Se han actualizado tus datos correctamente 
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        No se han podido actualizar tus datos.
    </div>
    <form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
        <div *ngIf="user.image">
            <img class="img-thumbnail" src="{{ url + 'get-avatar/' + user.image }}" width="15%">
        </div>
        <p>
            <label>Sube tu avatar</label>
            <input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)"/>
        </p>
        <p>
            <label>Nombre</label>
            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name" required/>
            <span *ngIf="!name.value && name.touched">
                El nombre es obligatorio.
            </span>
        </p>
        <p>
            <label>Apellidos</label>
            <input type="text" class="form-control" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required/>
            <span *ngIf="!surname.value && surname.touched">
                Los apellidos es obligatorio.
            </span>
        </p>
        <p>
            <label>Nick</label>
            <input type="text" class="form-control" name="nick" #nick="ngModel" [(ngModel)]="user.nick" required/>
            <span *ngIf="!nick.value && nick.touched">
                El nick es obligatorio.
            </span>
        </p>
        <p>
            <label>Correo electrónico</label>
            <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
            <span *ngIf="!email.value && email.touched">
                El correo electrónico es obligatorio.
            </span>
        </p>

        <input type="submit" value="{{ title }}" class="btn btn-warning" [disabled]="!userEditForm.form.valid"/>
    </form>
</div>